html, body, #root {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 100%
}
body{
    font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    font-weight: normal;
} 
h1 {
    font-family: 'SolexRegular';
    font-size: 1em;
}
h2 {
    font-size: 1em;
}