.menuBar {
    margin: 0;
    padding: 0;
    background-color: #e8e7e2;
    border-style: outset;
    border-width: 1px;
    display: flex;
    align-items: stretch;
}
.menuUL {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}
.menuBarItem {
    float: left;
    color: #ed2116;
    padding: 20px;
}
.menuBarItem:hover:not(.activeMenuBarItem) {
    background-color: #e8e7e2;
    cursor: pointer;
}
.activeMenuBarItem {
    background-color: #ed2116;
    color: white;
}
#logo {
    height: 60px;
}