.orgDetails {
    background-color: #e8e7e2;
    margin: 0px;
    padding: 5px;
    border-style: outset;
    border-width: 1px;
    cursor: pointer;
    color: #333c44;
}
.orgDetails:hover {
    color: #ed2116;
}
.orgName {
    margin: 0px;
}
.spanContainer {
    display: flex;
    flex-flow: row wrap;
}
.tag {
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.7em;
    color: #bbbbbb;
}

.tagSelected {
    color: #ed2116;
}
.orgSelected {
    padding: 10px;
}
.orgLogoContainer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.orgLogo {
    width: 50%;
}