.mainContainer {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    width: 100%;
}
.tagsContainer, .toggleContainer {
    margin: 0px;
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.toggleContainer {
    flex-wrap: row nowrap;
}
.btn {
  margin: 0.2rem;
  padding: 0.5rem;
  color: #333c44;
  background-color: #e8e7e2;
  border-radius: 7px;
  outline: none;
  font-size: 0.6em;
  cursor: pointer;
}
.btn:hover {
  background-color: #333c44;
  border-style: outset;
  color: white;
}
.btnSelected {
  background-color: #ed2116;
  color: white;
}
.tButtonLeft {
  border-radius: 7px 0px 0px 7px;
}
.tButtonRight {
  border-radius: 0px 7px 7px 0px;
  margin-left: -2px;
}